<!DOCTYPE html>
<html>
<head>
	<title>AngularJs Tutorials</title>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.js"></script>
<!-- 	<link rel="stylesheet" href="../src/vendor/foundation/foundation.min.css"> -->
		<link rel="stylesheet" type="text/css" href="../js/css/foundation.min.css">
</head>
<body>
<div ng-app="">
	<input type="text" ng-model="data.message">
	<h1>{{data.message}}</h1>
	<div class = {{data.message}}>
 	Wrap me with a foundation component.
	</div>
	<div class = "alert-box">
	Wrap me with a foundation component.
	</div> -->
	<a href="#" class="button">Default Button</a>
</div>

</body>
</html>